.user-image {
	width: 440px !important;
	height: 300px !important;
}

.document-image {
	width:100%; 
	height: auto;
}

.text-word-wrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.nav.nav-tabs.nav-top-border .nav-item a {
  color : #f4a640 !important;
}
.nav.nav-tabs.nav-top-border .nav-item a.nav-link.active {
  border-top : 3px solid #f4a640;
  border-top-left-radius : 0;
  border-top-right-radius : 0;
  color : #555555;
}

.img-circle {
  border-radius: 50%;
}

ul.action-item li {

  display:inline;

}

.post-image {
    border-radius: 10% !important;
    width: 100% !important;
}

.category-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.form-margin-left-sm {
  margin-left:2em;
}
.bb-3 {
  padding-bottom: 30px;
}

img {
  object-fit: cover;
}

.avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.dashboard-sec .card-top {
  height: 100%;
  margin-bottom: 0;
}

.margin-top{
  margin-top: 1.875rem;

}

.select2-container{
  width: 100%!important;
}


@media (max-width: 575.98px) {}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 992px) {}

@media (min-width: 1440px) {}

/* @media (max-width: 1199.98px) {
  .md-full-width .select2-container {
    width: 160px!important;
  }

}*/

@media (max-width: 991.98px) {
  .md-full-width .select2-container {
    width: 100%!important;
  }
  .resp-mrg-btm-md {
    margin-bottom: 2em;
  }
  .form-margin-left-sm {
    margin-left: 0;
  }
}


@media (max-width: 767.98px) {
  .form-margin-left-sm {
    margin-left:0em;
    margin-top: 2em;
  }

  .select2-container{
    width: 100%!important;
  }
}

@media (max-width: 575.98px) {}


.popup-label{
  padding-bottom: 30px;
  padding-left: 6%;
  padding-right: 30px;
}

.label-font{
  font-size: 16px;
  font-weight: 600;
}

.popup-left{
  margin-left: 10px;
}

.reset-btn{
  color:#f4a640; 
  text-decoration:none; 
  background:#f4f5f9;
}

.reset-btn:hover{
  color:#f4a640; 
  text-decoration:none; 
  background:none;
}

img {
  object-fit: cover;
}

.recent_comment{
  box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
}

.custom-a {
  color: #404E67;
}

.custom-muted {
  color: #b1c1d8
}